.body-fat-calculator {
    width: 500px;
    margin: 70px auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .body-fat-calculator .header {
    text-align: center;
  }
  
  .body-fat-calculator .form {
    margin-top: 20px;
    width: 90%;
  }
  
  .body-fat-calculator .form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .body-fat-calculator .form input {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .body-fat-calculator .form select {
    width: 92%;
    padding: 5px;
    margin: 0px 15px 2px 0px;
    border: 1px solid #ccc;
    margin: 2px;
  }
  
  .body-fat-calculator .form button {
    padding: 10px;
    border: none;
    margin: 20px 0px;
    background-color: #04395e;
    color: white;
    font-weight: 100;
  }
  
  .body-fat-calculator .results {
    margin-top: 20px;
    text-align: center;
  }
  
  .body-fat-calculator .results p {
    font-size: 18px;
  }
  
  .body-fat-calculator #body-fat-percentage {
    font-weight: bold;
    font-size: 24px;
    color: #04395e;
  }
  
  .results p{
    color: black;
  }