.col h1{
    color: white;
    font-family: cursive;
    padding: 0 0 5px 0;
}
.col{
    width: 20%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}
p{
    color: white;
    font-family: roboto;
    margin: 0px;   
}
.col a{
    padding: 5px 0px;
    text-decoration: none;
}