.footer_container{
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1a43bf;
}
.info h1{
    color: white;
    font-family: cursive;
    margin-top: 0px;
    margin-bottom: 10px;
}
.info p{
    color: white;
    width: 500px;
}
.info{
    margin-left: 20px;
}